.section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.section1 > div{
    width: 500px;
}
.col1{
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
    color: #000000;
}
.col2{
    font-weight: 400;
    line-height: 31px;
    font-size: 18px;
    color: #454545;
}
.section2 p{
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #000000;
}
.section2 h2{
    font-weight: 700;
    line-height: 62px;
    font-size: 52px;
}

.section3{
    margin-top: 20px;
}

/* table */
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 50px;
  }

  .table th, .table td {
    text-align: left;
    padding: 16px;
  }

 .table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table a{
    text-decoration: none;
    color: #454545;
}
.table a:hover{
    text-decoration: none;
}

  .section4{
      margin-top: 50px;
      margin-bottom: 100px;
      text-align: center;
  }
  .section4 h2{
      font-weight: 400;
      line-height: 24px;
      font-size: 18px;
  }
  .section4 .p1{
    font-weight: 700;
    line-height: 58px;
    font-size: 48px;
  }
  .section4 .p2{
    font-weight: 400;
    line-height: 34px;
    font-size: 20px;
  }