{% extends "layout.html" %}
{% block body %}

    <div class="section1">
        <div class="col1">
            3 years of successful projects and digital expertise that I can’t wait to share with you.
        </div>
        <div class="col2">
            Over time, I have gotten to enjoy my passion for programming. I have gained a lot of skills and expertise in
            different technologies.
            I am focused on code quality, and timely delivery of features. I can work well under team settings, and use
            different collaborative tools to
            deliver a project within a shorter time. Additionally, I am open minded and receptive to feedback.
        </div>
    </div>
    <div class="section2 container">
        <p>COMPLETED PROJECTS</p>
        <h2>More than 6 fully functional fullstack projects</h2>
    </div>
    <div class="section3 container">

        <table class="table">
            <tr>
                <th>Project</th>
                <th>Languages</th>
                <th>Website link</th>
                <th>Github repo</th>
            </tr>
            <tr>
                <td>Kevin & Sons general supply company</td>
                <td>Flask and Javascript</td>
                <td><a href="https://kevinsonssupply.co.ke">kevinsonssupply.co.ke</a></td>
                <td><a href="https://github.com/muminae100/kevin-sons-general-supply-and-services">
                    kevin-sons-general-supply-and-services</a></td>
            </tr>
            <tr>
                <td>WorldTimes</td>
                <td>Flask, Javascript and bootstrap</td>
                <td><a href="https://cymo-blog.herokuapp.com/">cymo-blog.heroku.com</a></td>
                <td><a href="https://github.com/muminae100/WorldTimes">WorldTimes</a></td>
            </tr>
            <tr>
                <td>Buy Kenya ReactJs</td>
                <td>React, Jquery and Javascript</td>
                <td><a href="https://buykenya.netlify.app/">buykenya.netlify.app</a></td>
                <td><a href="https://github.com/muminae100/ReactJs-BuyKenya-Frontend">Buy Kenya</a></td>
            </tr>
            <tr>
                <td>Buy Kenya Api</td>
                <td>Flask</td>
                <td><a href="#">buy-kenya-api.heroku.com</a></td>
                <td><a href="#">Buy Kenya Api</a></td>
            </tr>
            <tr>
                <td>Recipes</td>
                <td>Django</td>
                <td><a href="recipes.heroku.com">Recipes</a></td>
                <td><a href="#">Recipes</a></td>
            </tr>
            <tr>
                <td>Todo list</td>
                <td>React</td>
                <td><a href="#">Todo list</a></td>
                <td><a href="#">Todo list</a></td>
            </tr>
        </table>
    </div>
    <div class="section4 container">
        <h2>Contact us</h2>
        <p class="p1">Have a project of your own?</p>
        <p class="p2">We've got you covered!</p>
        <br>
      <div class="container proj-btn-container">
        <a href="{{ url_for('contact') }}" class="proj-btn">Get in touch</a>
      </div>
    </div>

{% endblock body %}