{% extends "layout.html" %}
{% block body %}

      <!-- profile picture start -->
      <div class="profile-pic-container">
        <div class="card-container">
        <div class="card">
          <img src="{{ url_for('static', filename = 'img/kenyan_flag.png') }}" class="kenyan_flag">
        </div>
        </div>
        </div>
        <!-- profile picture end -->

        <!-- text start -->
        <div class="c3">
          <div class="c3-text">
            <p class="para">Since beginning my journey as a freelance designer nearly 3 years ago,
              I've done remote work for agencies, consulted for startups, and collaborated with
              talented people to create digital products for both business and consumer use.
              I'm quietly confident, naturally curious, and perpetually working on improving my
              chops one design problem at a time.
            </p>
          </div>
        </div>
        <!-- text end -->

        <!-- icon start -->
        <div class="c4">
          <a style="text-decoration: none;color: inherit;" target="_blank" href="https://github.com/muminae100"><i class="fa fa-github"></i></a>
          <a style="text-decoration: none;color: inherit;" target="_blank" href="https://codepen.io/muminae100"><i class="fa fa-codepen"></i></a>
          <a style="text-decoration: none;color: inherit;" target="_blank" href="https://www.linkedin.com/in/simon-mumina-209000213/"><i class="fa fa-linkedin"></i></a>
        </div>
        <!-- icon end -->

      <!-- start cv button -->
      <div style="display: flex;align-items: center;height: 100px;justify-content: center;margin-top: 20px;" class="container-fluid">
        <a class="cv-btn" href="https://simon-react-resume.netlify.app/" target="_blank" rel="noopener noreferrer">View Resume</a>
      </div>
      <!-- end cv button -->

    <!-- skills start -->
    <div class="container-fluid my-skills">
        <div>
          <p style="font-size: 14px;line-height: 24px;font-weight: 400;">MY SKILLS</p>
          <h2 style="font-weight: 700;line-height: 62px;font-size: 52px;">I build modern experiences</h1>
          <p class="para">I am a passionate full stack software developer with over 3 years of experience in the field.
            My main stack is Python(Django and Flask), PHP, ReactJs, Ajax ,Jquery, Javascript, MySql, Postgresql, MongoDB, Bootstrap ,HTML5 and CSS3
            and I have immense experience also working with related technologies
            in architecture design. Throughout my time as a software developer, I have worked
            with different teams to create applications that optimized processes, saved on cost, and improved users'
            experience.</p>
        </div>
        <div>
          <div>

            <span class="rating-title">My skills rating</span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.3 average based on 20 reviews.</p>
            <hr style="border:3px solid #f1f1f1">

            <div class="skills_rating_row">
              <div class="side">
                <div>5 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-5"></div>
                </div>
              </div>
              <div class="side right">
                <div>5</div>
              </div>
              <div class="side">
                <div>4 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-4"></div>
                </div>
              </div>
              <div class="side right">
                <div>11</div>
              </div>
              <div class="side">
                <div>3 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-3"></div>
                </div>
              </div>
              <div class="side right">
                <div>3</div>
              </div>
              <div class="side">
                <div>2 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-2"></div>
                </div>
              </div>
              <div class="side right">
                <div>0</div>
              </div>
              <div class="side">
                <div>1 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-1"></div>
                </div>
              </div>
              <div class="side right">
                <div>0</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- skills end -->

      <!-- projects -->
      <div class="container-fluid projects">

        <h3 style="text-align: center;font-weight: 500;font-size: 24px;line-height: 29px;color: #000000;">My Projects</h3>

        <div class="row">
          <div class="project-container">

            <div class="project">
              <div class="content">
                <div class="screen">
                  <a target="_blank"  style="text-decoration: none;" href="https://kevinsonssupply.co.ke">
                  <img id="img1" src="{{ url_for('static', filename = 'img/kevinsonssupply.png') }}">
                  </a>
                </div>

              </div>
              <div class="project-desc">
                <a style="text-decoration: none;" href="{{ url_for('portfolio') }}">
                <p class="para">Flask</p>
                </a>
                <a target="_blank"  style="text-decoration: none;" href="https://kevinsonssupply.co.ke">
                <p class="proj-name">Kevin $ Sons general supply company</p>
                </a>
              </div>
            </div>

          </div>

          <div class="project-container">

            <div class="project">
              <div class="content">
                <div class="screen">
                  <a target="_blank" style="text-decoration: none;" href="https://cymo-blog.herokuapp.com">
                  <img id="img2" src="{{ url_for('static', filename = 'img/WorldTimes.png') }}">
                  </a>
                </div>

              </div>
              <div class="project-desc">
                <a style="text-decoration: none;" href="{{ url_for('portfolio') }}">
                <p class="para">Flask</p>
                </a>
                <a target="_blank"  style="text-decoration: none;" href="https://cymo-blog.herokuapp.com">
                <p class="proj-name">WorldTimes</p>
                </a>
              </div>
            </div>

          </div>

          <div class="project-container">

            <div class="project">
              <div class="content">
                <div class="screen">
                  <a target="_blank"  style="text-decoration: none;" href="https://buykenya.netlify.app/">
                  <img id="img3" src="{{ url_for('static', filename = 'img/buykenyafrontend.png') }}">
                  </a>
                </div>

              </div>
              <div class="project-desc">
                <a style="text-decoration: none;" href="{{ url_for('portfolio') }}">
                <p class="para">ReactJs</p>
                </a>
                <a target="_blank"  style="text-decoration: none;" href="https://buykenya.netlify.app/">
                <p class="proj-name">Buy Kenya frontend</p>
                </a>
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="project-container">

            <div class="project">
              <div class="content">
                <div class="screen">
                  <a target="_blank"  style="text-decoration: none;" href="https://github.com/muminae100/recipes">
                  <img id="img4" src="{{ url_for('static', filename = 'img/howtocookrecipes.png') }}">
                  </a>
                </div>

              </div>
              <div class="project-desc">
                <a style="text-decoration: none;" href="{{ url_for('portfolio') }}">
                <p class="para">Django</p>
                </a>
                <a target="_blank"  style="text-decoration: none;" href="https://github.com/muminae100/recipes">
                <p class="proj-name">Recipes</p>
                </a>
              </div>
            </div>

          </div>

          <div class="project-container">

            <div class="project">
              <div style="border: 2px solid #f1f1f1;" class="content bg-light">
                <div class="screen">
                  <a target="_blank"  style="text-decoration: none;" href="https://github.com/muminae100/Buy-Kenya-Api">
                  <img id="img5" src="{{ url_for('static', filename = 'img/github.png') }}">
                  <div class="project-text">
                    <h2>Buy Kenya github repo</h2>
                  </div>
                  </a>
                </div>

              </div>
              <div class="project-desc">
                <a style="text-decoration: none;" href="{{ url_for('portfolio') }}">
                <p class="para">Flask</p>
                </a>
                <a target="_blank"  style="text-decoration: none;" href="https://github.com/muminae100/Buy-Kenya-Api">
                <p class="proj-name">Buy Kenya Api</p>
                </a>
              </div>
            </div>

          </div>

          <div class="project-container">

            <div class="project">
              <div class="content">
                <div class="screen">
                  <a target="_blank"  style="text-decoration: none;" href="https://simon-react-todo.herokuapp.com/">
                  <img id="img6" src="{{ url_for('static', filename = 'img/todo-img.png') }}">
                  </a>
                </div>

              </div>
              <div class="project-desc">
                <a style="text-decoration: none;" href="{{ url_for('portfolio') }}">
                <p class="para">React Js</p>
                </a>
                <a target="_blank" style="text-decoration: none;" href="https://simon-react-todo.herokuapp.com/">
                <p class="proj-name">React Todo list app</p>
                </a>
              </div>
            </div>

          </div>

        </div>

        <div class="container proj-btn-container">
          <a href="{{ url_for('portfolio') }}" class="proj-btn">View all projects</a>
        </div>

      </div>

      <!-- projects end -->

      <!-- start my skills -->
      <div id="languages" class="container-fluid skills">
        <div>
          <div>
            <i style="color:  #F16529;" class="fab fa-html5 skill-icon"></i>
            <h3 class="skillsTitle">Frontend development</h3>
            <p class="para">Using modern frontend frameworks,
              I can build intuitive, responsive, and user-friendly interfaces that adaptively meet the needs of your
              end-users.</p>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>HTML</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Bootstrap</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Javascript</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Jquery</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Ajax</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>ReactJs</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Ui/Ux design</span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <img src="../static/img/python.svg" width="48px" height="48px">
            <h3 class="skillsTitle">Backend development</h3>
            <p class="para">I have an immense understanding of different backend
              frameworks, working with databases and developing optimal algorithms.</p>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Python flask</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Flask Restful</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Restful Apis</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Django</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>PHP</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Postgresql</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Mysql</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Sqlite</span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <i style="color: #d0cccc;" class="fas fa-cloud skill-icon"></i>
            <h3 class="skillsTitle">Serverless Architecture</h3>
            <p class="para">I have experience automating deployments for applications in
              virtual machines in the cloud, managing and updating containerized applications using contemporary DevOps
              tools.</p>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Travis Ci</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Pylint</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Github Actions</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>Firebase</span>
            </div>
            <div class="dev-lang">
              <i class="fas fa-check"></i>
              <span>AWS</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end my skills -->

{% endblock body %}