{% extends "layout.html" %}
{% block body %}

    <!-- projects -->
    <div class="container-fluid projects">
        <!-- Control buttons -->
        <div id="myBtnContainer" class="myBtnContainer">
            <button class="filter-btn active" onclick="filterSelection('all')"> Show all</button>
            <button class="filter-btn" onclick="filterSelection('flask')"> Flask</button>
            <button class="filter-btn" onclick="filterSelection('django')"> Django</button>
            <button class="filter-btn" onclick="filterSelection('react')"> ReactJs</button>

        <div class="contact-btn-container">
            <a href="{{ url_for('contact') }}" class="contact-btn">Contact us</a>
        </div>
        </div>

        <div class="row">
            <div class="project-container filterDiv flask">

            <div class="project">
                <div class="content">
                  <div class="screen">
                    <a style="text-decoration: none;" href="https://kevinsonssupply.co.ke">
                    <img id="img1" src="{{ url_for('static', filename = 'img/kevinsonssupply.png') }}">
                    </a>
                  </div>

                </div>
                <div class="project-desc">
                  <a style="text-decoration: none;" href="#">
                  <p class="para">Flask</p>
                  </a>
                  <a style="text-decoration: none;" href="https://kevinsonssupply.co.ke">
                  <p class="proj-name">Kevin $ Sons general supply company</p>
                  </a>
                </div>
              </div>
            </div>

            <div class="project-container filterDiv flask">

                <div class="project">
                    <div class="content">
                      <div class="screen">
                        <a style="text-decoration: none;" href="https://cymo-blog.herokuapp.com">
                        <img id="img2" src="{{ url_for('static', filename = 'img/WorldTimes.png') }}">
                        </a>
                      </div>

                    </div>
                    <div class="project-desc">
                      <a style="text-decoration: none;" href="#">
                      <p class="para">Flask</p>
                      </a>
                      <a style="text-decoration: none;" href="https://cymo-blog.herokuapp.com">
                      <p class="proj-name">WorldTimes</p>
                      </a>
                    </div>
                  </div>

            </div>

            <div class="project-container filterDiv flask">

                <div class="project">
                    <div style="border: 2px solid #f1f1f1;" class="content bg-light">
                      <div class="screen">
                        <a style="text-decoration: none;" href="https://github.com/muminae100/Buy-Kenya-Api">
                        <img id="img5" src="{{ url_for('static', filename = 'img/github.png') }}">
                        <div class="project-text">
                          <h2>Buy Kenya github repo</h2>
                        </div>
                        </a>
                      </div>

                    </div>
                    <div class="project-desc">
                      <a style="text-decoration: none;" href="#">
                      <p class="para">Flask</p>
                      </a>
                      <a style="text-decoration: none;" href="https://github.com/muminae100/Buy-Kenya-Api">
                      <p class="proj-name">Buy Kenya Api</p>
                      </a>
                    </div>
                  </div>

            </div>

        </div>

        <div class="row">
            <div class="project-container filterDiv django">

                <div class="project">
                    <div class="content">
                      <div class="screen">
                        <a style="text-decoration: none;" href="#">
                        <img id="img4" src="{{ url_for('static', filename = 'img/howtocookrecipes.png') }}">
                        </a>
                      </div>

                    </div>
                    <div class="project-desc">
                      <a style="text-decoration: none;" href="#">
                      <p class="para">Django</p>
                      </a>
                      <a style="text-decoration: none;" href="#">
                      <p class="proj-name">Recipes</p>
                      </a>
                    </div>
                  </div>


            </div>

            <div class="project-container filterDiv react">

                <div class="project">
                    <div class="content">
                      <div class="screen">
                        <a style="text-decoration: none;" href="#">
                        <img id="img3" src="{{ url_for('static', filename = 'img/buykenyafrontend.png') }}">
                        </a>
                      </div>

                    </div>
                    <div class="project-desc">
                      <a style="text-decoration: none;" href="#">
                      <p class="para">ReactJs</p>
                      </a>
                      <a style="text-decoration: none;" href="#">
                      <p class="proj-name">Buy Kenya frontend</p>
                      </a>
                    </div>
                  </div>


            </div>

            <div class="project-container filterDiv react">

                <div class="project">
                    <div class="content">
                      <div class="screen">
                        <a style="text-decoration: none;" href="#">
                        <img id="img6" src="../static/img/aFFEZ9U.jpg">
                        </a>
                      </div>

                    </div>
                    <div class="project-desc">
                      <a style="text-decoration: none;" href="#">
                      <p class="para">React Js</p>
                      </a>
                      <a style="text-decoration: none;" href="#">
                      <p class="proj-name">Todo list</p>
                      </a>
                    </div>
                  </div>

            </div>

        </div>

    </div>

    <!-- projects end -->

{% endblock body %}