{% extends "layout.html" %}
{% block project %}
<div class="container-fluid">
    <div class="project_section1">
    <div class="project_row">
        <div class="project_title">
            <p style="line-height: 31px;font-size: 18px;font-weight: 400;color: cadetblue;">Flask</p>
            <h2 style="line-height: 105px;font-size: 80px;font-weight: 700;color: cadetblue;">Kevin & Sons general supply company</h2>
        </div>
    </div>
    <div class="project_description">
            <div>
                <h3 class="pd-title">Start</h3>
                <p class="pd-desc">Feb. 22, 2021</p>
            </div>
            <div>
                <h3 class="pd-title">Launch</h3>
                <p class="pd-desc">Feb. 22, 2021</p>
            </div>
            <div>
                <h3 class="pd-title">Website</h3>
                <p class="pd-desc">https://kevinsonssupply.co.ke</p>
            </div>
    </div>
    </div>
    <div class="project_info">
        <ul>
            <li style="margin-bottom: 50px;">
                <div>
                    <h3 class="pi-title">DESCRIPTION</h3>
                    <p style="line-height: 27px;font-size: 16px;font-weight: 400;">With the rising corona cases, I took the initiative to develop a simple platform
                        that indicates the latest number of cases, in different countries, with up to date information.</p>
                </div>
            </li>
            <li style="margin-bottom: 50px;">
                <div>
                    <h3 class="pi-title">TECHNOLOGIES USED</h3>
                    <p><i class="fa fa-check"></i> Flask</p>
                    <p><i class="fa fa-check"></i>Javascript</p>
                    <p><i class="fa fa-check"></i>Bootstrap</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock project %}